In [3]:
import pandas as pd
from ydata_profiling import ProfileReport

In [ ]:
df = pd.read_csv('wiki.csv')
pf = ProfileReport(df)
pf.to_file('wiki_sum.html')

Summarize dataset:  67%|██████▋   | 10/15 [00:56<00:36,  7.27s/it, Calculate auto correlation]       c:\Python312\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'American'')
  warnings.warn(
Summarize dataset: 100%|██████████| 18/18 [01:05<00:00,  3.64s/it, Completed]
Generate report structure: 100%|██████████| 1/1 [00:15<00:00, 15.08s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.82s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 27.02it/s]

In [ ]:
df.loc[1]['Title']
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34886 entries, 0 to 34885
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Release Year      34886 non-null  int64
 1   Title             34886 non-null  object
 2   Origin/Ethnicity  34886 non-null  object
 3   Director          34886 non-null  object
 4   Cast              33464 non-null  object
 5   Genre             34886 non-null  object
 6   Wiki Page         34886 non-null  object
 7   Plot              34886 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

       Release Year
count  34886.000000
mean    1981.314252
std       27.815174
min     1901.000000
25%     1957.000000
50%     1988.000000
75%     2007.000000
max     2017.000000

In [ ]:
s = df.describe()
print(s)

       Release Year
count  34886.000000
mean    1981.314252
std       27.815174
min     1901.000000
25%     1957.000000
50%     1988.000000
75%     2007.000000
max     2017.000000

In [ ]:
data = {
    'ahmad':[1,3,9000],
    'bob':['a','b',None]
}
df1= pd.DataFrame(data)
df1

   ahmad   bob
0      1     a
1      3     b
2   9000  None

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ahmad   3 non-null      int64
 1   bob     2 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [ ]:
df2 = df1.dropna()
df2

   ahmad bob
0      1   a
1      3   b

In [ ]:
df1['bob'].fillna(0)
df1

   ahmad   bob
0      1     a
1      3     b
2      4  None

In [ ]:
c = df1['ahmad'].mean()

df1['bob'].fillna(c)

0              a
1              b
2    3001.333333
Name: bob, dtype: object

In [ ]:
df1.loc[df1['ahmad'] > 10]

df1['ahmad'][df1['ahmad'] >2] = 100
df1[]

C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\3250375866.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1['ahmad'][df1['ahmad'] >2] = 100
C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\3250375866.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['ahmad'][df1['ahmad'] >2] = 100

   ahmad   bob
0      1     a
1    100     b
2    100  None

In [ ]:
df1.duplicated()

0    False
1    False
2    False
dtype: bool

In [ ]:
df1['bob'][1] = 100
df1['bob'][2] = 100
df1.duplicated()

C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\1419782409.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1['bob'][1] = 100
C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\1419782409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['bob'][1] = 100
C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\1419782409.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df1['bob'][2] = 100
C:\Users\Qasem\AppData\Local\Temp\ipykernel_8292\1419782409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['bob'][2] = 100

0    False
1    False
2     True
dtype: bool

In [ ]:
df1.duplicated()
df1.drop_duplicates()

   ahmad  bob
0      1    a
1    100  100

In [ ]:
data2 = {'s':[123,2,4],'b':[4,22,4]}
df2 = pd.DataFrame(data2)
df2.corr()

          s         b
s  1.000000 -0.512447
b -0.512447  1.000000

In [12]:
user_file = 'wiki.csv'
df = pd.read_csv(user_file)
df = df.head(10)
df.to_csv('1000wiki.csv',index=False)

In [ ]:
lis = df['Genre'].unique()

array(['unknown', 'western', 'comedy', 'short',
       'short action/crime western', 'short film', 'biographical',
       'drama', 'adventure', 'short fantasy', 'silent sports', 'horror',
       'crime', 'drama, horror', 'historical drama', 'fantasy drama',
       'biographical drama', 'documentary drama', 'fantasy',
       'adventure serial', 'epic', 'historical', 'comedy short',
       'comedy, western', 'biography', 'action adventure',
       'western drama', 'short comedy', 'comedy–drama', 'romantic drama',
       'mystery', 'crime drama', 'romance',
       'sexual hygiene/exploitation film', 'comedy drama', 'war drama',
       'spy', 'romantic comedy', 'propaganda', 'ww1 propaganda', 'biopic',
       'animated series', 'drama romance', 'melodrama', 'period drama',
       'swashbuckler', 'romance drama', 'drama, adventure',
       'crime comedy', 'documentary', 'comedy western', 'fantasy, family',
       'war', 'comedy, adventure', 'fantasy, adventure', 'thriller',
       'dramatic comedy', 'romantic comedy/drama', 'mystery, thriller',
       'crime thriller', 'american football', 'fantasy, romance',
       'comedy, horror, mystery', 'semi-staged documentary',
       'biblical drama', 'race film', 'comedy adventure',
       'romance, drama', 'comedy, romance', 'crime, drama', 'musical',
       'musical comedy', 'operetta', 'comedy mystery', 'detective',
       'romance musical', 'drama, war', 'horror, comedy', 'drama, crime',
       'musical, comedy', 'costume drama', 'prison drama'], dtype=object)